<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.tealer.process.service.ServiceMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="${applicationId}.authenticator.service"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </service>
    </application>
</manifest>