<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.tealer.process.service.ServciesMessengerServcie"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.tealer.process.messengerservice"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </service>
    </application>
</manifest>